body
{
    background-color: silver;
    
}
p{
    padding: 0px;
}
hr
{
    border:solid 1px black;
}
.btn-enquiry {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-enquiry:hover,
.btn-enquiry:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}